# Версия схемы, которую мы используем.
# Зависит от установленной версии docker
# https://docs.docker.com/compose/compose-file/
version: "3.8"
# Определяем список сервисов — services
# Эти сервисы будут частью нашего приложения
services:

  app: 
    build:
      context: .
      dockerfile: Dockerfile.production
    image: anastasiamir/docker-hub-devops-for-programmers-project-74
    command: bash -c "sleep 3 && npm test"
    ports: # Проброс портов
      # - ${PORT_HTTP:-8080}:8080
      - 8080:8080
    depends_on:
      - db
    environment:
      - DATABASE_NAME
      - DATABASE_USERNAME
      - DATABASE_PASSWORD
      - DATABASE_PORT
      - DATABASE_HOST
  
  db:
      image: postgres
      restart: always
      ports: 
      - 5432:5432
      environment:
        POSTGRES_PASSWORD: example
        POSTGRES_USER: postgres

